<ol>
  <% @lifts.each do |lift| %>
    <li><%= lift.name %></li>
  <%end%>
</ol>

<ul>
  <li><%= link_to "Add Lift", new_resort_lift_path(@resort) %></li>
  <li><%= link_to "Home", resorts_path %></li>
</ul>